---
import Base from '../layouts/Base.astro';

import MSNav from '../components/sections/MSNav.astro';
import MSHero from '../components/sections/MSHero.astro';
import MSTicker from '../components/sections/MSTicker.astro';
import MSOutcomes from '../components/sections/MSOutcomes.astro';
import MSAppShowcase from '../components/sections/MSAppShowcase.astro';
import MSHowItWorks from '../components/sections/MSHowItWorks.astro';
import MSPricing from '../components/sections/MSPricing.astro';
import MSNetwork from '../components/sections/MSNetwork.astro';
import MSQuote from '../components/sections/MSQuote.astro';
import MSFAQ from '../components/sections/MSFAQ.astro';
import MSCTA from '../components/sections/MSCTA.astro';
import MSFooter from '../components/sections/MSFooter.astro';
---

<Base>
  <MSNav />
  <main id="main">
    <MSHero />
    <MSTicker />
    <MSOutcomes />
    <MSAppShowcase />
    <MSHowItWorks />
    <MSPricing />
    <MSNetwork />
    <MSQuote />
    <MSFAQ />
    <MSCTA />
  </main>
  <MSFooter />
</Base>
